.fixture-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;

  .team-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    padding: 1rem;

    img {
      margin: 0 3rem; /* Add 1rem margin to the left and right of each image */
    }
  }

  .team-names {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    .team-name {
      flex: 1;
      text-align: center;
    }

    .vs {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0 10px;
    }
  }

  .fixture-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      margin-bottom: 5px;
      text-align: center;
    }

    .fixture-venue {
      font-weight: bold;
    }
  }
}
