.search-box {
  position: relative;
  width: 20rem;

  input[type='text'] {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border: none;
    font-size: 1.25rem;
    color: white;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.2);

    &:focus {
      outline: none;
    }

    input[type='text']::placeholder {
      color: white;
    }
  }

  .search-results {
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    max-height: 20rem;
    overflow-y: auto;

    .search-result {
      display: flex;
      align-items: center;
      padding: 1rem;

      img {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }

      h2 {
        margin: 0;
        font-size: 1.75rem;
      }
    }

    .no-results {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
  }

  button {
    display: flex;
    align-items: space-around;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.75rem;
    font-size: 1rem;
    color: black;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgb(255, 255, 0, 0.95)
    }
  }
}

.search-box input[type='text']::placeholder {
  color: white !important;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .search-box {
    input[type='text'] {
      font-size: 2rem;
    }

    .search-results {
      top: calc(100% + 1.5rem);

      .search-result {
        padding: 1.5rem;

        img {
          width: 4rem;
          height: 4rem;
          margin-right: 1.5rem;
        }

        h2 {
          font-size: 2rem;
        }
      }

      .no-results {
        padding: 1.5rem;
      }
    }

    button[type='submit'] {
      font-size: 2rem;
      padding: 1rem 1.5rem;
    }
  }
}
