.fixtures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h2 {
    width: 100%;
    font-size: 1.3rem;
    margin: 1rem;
    margin-top: 0;
    text-align: center;
    font-weight: 100;
    font-style: italic;
  }

  .fixtures-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fixture-card {
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: hidden;
    width: 20rem;

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      transition: 0.2s;
    }

    img {
      width: 100%;
    }

    .team-names {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      h3 {
        margin: 0;
      }

      .team-name {
        font-weight: 600;
      }
    }

    .game-details {
      border-top: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .game-date {
        font-size: 14px;
      }
    }
  }
}
