.App {
  background: linear-gradient(to bottom, rgba(3, 113, 0, 1), rgba(73, 176, 71, 1));
  min-height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex: 1;
    padding: 1rem;
  }

  header {
    color: white;
    padding: 1rem;
    text-align: center;
    top: 0;

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4.5rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: -0.4rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.5rem;
      margin-left: 2.75rem;
      margin-right: 2.75rem;
      line-height: 1.5;
      color: white;
      font-weight: lighter;
      margin-top: 1rem;
    }

    span {
      font-weight: bold;
      font-style: italic;
      color: yellow;
    }
  }
}

@media (min-width: 768px) {
  /* Styles for tablets and desktops */

  .App {
    max-width: 800px;
    margin: 0 auto;

    border-radius: 10px;
  }

  main {
    padding: 40px;
  }

  header {
    padding: 20px;
  }
}
