// Mobile-first design

.App {
  background: linear-gradient(to bottom, rgba(3, 113, 0, 1), rgba(73, 176, 71, 1));
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex: 1;
    padding: 5rem;
  }

  header {
    color: white;
    padding: 2rem;
    text-align: center;
    top: 0;
    z-index: 1;

    h1 {
      margin: 1rem;
      font-size: 5rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: -0.5rem;
    }
  }
}

@media (min-width: 768px) {
  /* Styles for tablets and desktops */

  .App {
    max-width: 800px;
    margin: 0 auto;

    border-radius: 10px;
  }

  main {
    padding: 40px;
  }

  header {
    padding: 20px;
  }
}
